@model Examen3.Models.Empleados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamentos.nombre_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamentos.nombre_departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_empleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
