@model IEnumerable<Examen3.Models.Empleados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamentos.nombre_departamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.nombre_departamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_empleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_empleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_empleado })
        </td>
    </tr>
}

</table>
