@model IEnumerable<Examen3.Models.Nominas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo_por_dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias_laborales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo_quincenal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.nombre_empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo_por_dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias_laborales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo_quincenal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.nombre_empleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_nomina }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_nomina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_nomina })
        </td>
    </tr>
}

</table>
